/* ---DEBUG--- */

/* .debug.navbar{
    background-color: red;
}

.debug.navbar .col-3{
    background-color:lightblue;
} */

/* .debug .jumbotron{
    background-color: aquamarine;
} */
/* 
.debug .jumbotron .wrapper-lg{
    background-color: burlywood;
}

.debug .jumbotron .col-2{
    background-color:chartreuse;
}

.debug .jumbotron .col-3{
    background-color:deepskyblue;
} */

/* .debug img{
    background-color: orange;
} */

.debug .radio{
    background-color: beige;
}

.debug .plans .col-2{
    /* background-color: darkolivegreen; */
}

.debug .row .card{
    /* background-color: hotpink; */
    /* height: 400px; */
}

.debug  .card{
    /* background-color: yellowgreen; */
    /* height: 100px; */
}

.debug .card-title{
    /* background-color: lightsalmon; */
}

.debug.plans .row{
    /* background-color: mediumturquoise; */
}

.debug .partners{
    background-color: palegreen;
}

.debug .partners .row{
    background-color:sandybrown;
}

.debug .claim{
    background-color: aliceblue;
}

.debug .features{background-color: tomato;}
.debug .features .col-2{background-color: teal;}


.debug .our-partners{background-color: mediumturquoise;}
.debug .our-partners .col-2{background-color:indigo;}
.debug .logo-squared{background-color: mistyrose; border: 1px dotted orange;}


footer.debug .col-1{
    background-color: red;
    height: 300px;
}



/* ---/DEBUG--- */